<p style="color:dodgerblue">@ViewBag.message</p>

@* <ul style="color:rebeccapurple">
    @{
        Emp emp = ViewBag.empInfo;
        <li>@emp.Id</li>
        <li>@emp.Name</li>
        <li>@emp.Address</li>
    }
</ul> *@

<p>@ViewData["number"]</p>
